header{
    color: white !important;
    position: relative;
    z-index: 1000;
    padding-bottom: 50px;
}

.logo img{
    width: 117px;
}
header .navpos{
   position:absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav .nav-link{
    font-size: 18.68px;
    padding:  12px 35px !important;
    margin-right: 10px;
    font-weight: 500;
    color: white !important;
    transition: color 0.3s ease;
}
.active{
    padding: 12px 35px !important;
    border-radius: 50px !important;
    background-image: linear-gradient(180deg, #1a1a1a 30%, #000) !important;
    font-weight: 500 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3) !important;

    transition: all 0.3s ease !important;
}
.navbar-nav .nav-link:hover{
    transform: translateY(-2px);
    background-image: linear-gradient(180deg, #1a1a1a 30%, #000) !important;
    font-weight: 500 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3) ;
    border-top: 2px solid rgba(255, 255, 255, 0.3) ;
    border-radius: 50px ;
    padding: 12px 35px !important;
    transition: all 0.3s ease !important;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    -ms-border-radius: 50px ;
    -o-border-radius: 50px ;
}
@media (max-width: 991.5px) {
  header .navbar-collapse {
    background-color: rgb(0, 0, 0 );
    border-radius: 5px;

}
  header .navbar-collapse ul li{
    margin: 5px 0;
  };
 
.navbar-nav .nav-link:hover{

    padding: 8px 35px !important;


}
}