header{
    color: white !important;
    position: relative;
    z-index: 1000;
}

.logo img{
    width: 117px;
}
.navbar-nav .nav-link{
    font-size: 18.68px;
    padding:  12px 35px !important;
    margin-right: 10px;
    font-weight: 500;
    color: white !important;
    transition: color 0.3s ease;
}
.active{
    padding: 12px 35px !important;
    border-radius: 50px !important;
    background-image: linear-gradient(180deg, #1a1a1a 30%, #000) !important;
    font-weight: 500 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3) !important;

    transition: all 0.3s ease !important;
}
.navbar-nav .nav-link:hover{
    transform: translateY(-2px);
        background-image: linear-gradient(180deg, #1a1a1a 30%, #000) !important;
    font-weight: 500 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3) ;
    border-top: 2px solid rgba(255, 255, 255, 0.3) ;
    border-radius: 50px ;
    padding: 12px 35px !important;

    transition: all 0.3s ease !important;

}