.time-line h3 {
    font-weight: 500;
    font-size: 64px;
    line-height: 62.72px;
    margin: 200px 0 100px 0;
    letter-spacing: -2px;
    background-image: linear-gradient(180deg, var(--main-color), var(--second-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.time-line-number {
    background-image: linear-gradient(to bottom, var(--main-color), var(--second-color) 50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 53px;
    letter-spacing: -1px;
    color: var(--third-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.time-line-content h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0;
    color: var(--third-color);
    margin-bottom: 8px;
}

.time-line-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: var(--third-color);
}

@media (max-width: 768px) {
.time-line h3 {
    font-size: 48px;
    line-height: 48px;  
}
    .time-line-content h5 {
        font-size: 20px;
    }
    .time-line-content p {
        font-size: 14px;
    }
}

.time-line-container{
    position: relative;
}



.time-line-column div {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-image: linear-gradient(
        to bottom,
        var(--main-color),
        var(--second-color)
    );
    transform: translateX(-50%);
}

.time-line-column div::before,
.time-line-column div::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 4px solid;
}

.time-line-column div::before {
    top: -10px;
    color: var(--main-color);
    background-color: var(--main-color);
}

.time-line-column div::after {
    bottom: -10px;
    color: var(--second-color);
    background-color: var(--second-color);

}

.time-line-icon img{
    width: 90px;
}